html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


/*Nav bar ka css hai*/

#mainNav {
    transition: background-color 0.5s ease;
}

    #mainNav.scrolled {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

.main-content {
    padding-top: 50px; /* height of navbar */
    padding-right : 0;
    padding-left : 0;
}

.hero-section, .brand-hero, .vehicle-hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.overlay_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}

/* Card styling */
.image-card {
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

    .image-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease;
    }

    .image-card:hover img {
        transform: scale(1.05);
    }

    /* Card text fixed, no move on hover */
    .image-card .card-body.static-text {
        position: relative; /* Ensure text stays in place */
        text-align: center;
    }

/* Swiper spacing */
.swiper {
    padding-bottom: 20px;
}


.vehicle-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

}

    .vehicle-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

.vehicle-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

    .vehicle-icon i {
        color: #212529 !important; /* Customize icon color */
        margin-bottom: 4px;
    }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; /* Full screen height */
    overflow-y: auto; /* Agar sidebar ke andar bahut items ho toh apne andar scroll kare */
}

.main-content-admin {
    margin-left: 250px;
    padding: 20px;
}