@model CarRental_Model.Domain.VehicleType
@{
    ViewData["Title"] = "Delete Vehicle Type";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete Vehicle Type</h2>

<div class="alert alert-danger">
    Are you sure you want to delete this Vehicle Type?
</div>

<div>
    <h4>@Model.TypeName</h4>
</div>

<form asp-area="Admin" asp-controller="VehicleType" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
